---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
    font-size: 100%;
    font-family: Sans-serif;
    height: 100%;
}

body {
    background: $white;
    color: $darkGray;
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative;
}

body::after{
    content:'';
    display:block;
    height:155px;
}

.container {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: $darkerGray;
    font-weight: bold;
    line-height: 1.5;
    font-weight: normal;
    margin: 1em 0 15px;
    padding: 0;
	border-bottom: 1px solid #ddd;

    @include mobile {
        line-height: 1.4;
    }
}

h1 {
    font-size: 1.5em;

    a {
    color: inherit;
    }
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 14px;
}

article h1 {
	border-bottom: 0px;
}

.entry
	h1, h2, h3, h4, h5 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5em;

	h2 {
		font-size: 1.3em
	}

	h3 {
		font-size: 1.25em
	}
}

.page h1 {
    border-bottom: 1px solid #ddd;
}

p {
    font-size: 14px;
    margin: 15px 0;
    line-height: 1.5em;
}

a {
    color: #337AB7;
    text-decoration: none;
	cursor: pointer;

    &:hover, &:active {
        color: #337AB7;
        text-decoration: underline;
		transition: color .15s linear
    }
}

ul, ol {
    margin: 15px 0;
    padding-left: 30px;
}

ul {
    list-style-type: circle;
    font-size: 14px;
}

.entry li {
    font-size: 14px;
    margin: 0px;
    line-height: 1.5em;
}

.entry hr {
    border-size: 10px;
    color: red;
}

hr {
    background: #ddd;
    border: 0;
    height: 1px;
    margin: 17px 0px -7px 0px;
}

li {
    margin: 5px 0px 0px 0px;
}

ol {
    list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
    margin: 0;
}

ul ul, ol ul {
    list-style-type: circle;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

img {
    max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

.date {
    font-style: normal;
    font-size:14px;
    color: $gray;
}

.post-date {
    font-style: normal;
    font-size:14px;
    color: #828282;
    margin: 1px 0px -20px 0px;
    padding: 2px 0px 1px 0px;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
    background: #679881;
    background-size: cover;
    margin-bottom: 2.5em;
    //box-shadow: inset -4px -29px 23px -18px rgba(0,0,0,1);
    border-bottom: 1px solid #6a854c;
    
    @include mobile {
        margin-bottom: 1.5em;
    }
}

.masthead {
  padding: 25px 0;
  border-bottom: 0px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
    float: left;
    width: 75px;
    height: 75px;
    margin: 10px 20px 5px 0px;
    box-shadow: 0 2px 3px #658049;
    display: block;
    border: 1px solid #3D4D2B;
    padding: 1px;
    background: #a8b2bd;
    border-radius: 50%;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    img:active {
        position:relative;
        transition-duration: 0.1s;
    }

    img {
        border-radius: 50%;
        outline: none;
    }
}

.site-avatar:active {
    position:relative;
    top:2px;
    transition-duration: 0.1s;
}

.site-info {
    float: left;
    width: 30%;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    	width: 100%;
    }

    a:hover {
     	color: #fff;
    }

    a:active {
   		position:relative;
   		top:2px;
   		transition-duration: 0.1s;
    }

    img:active {
        position:relative;
        transition-duration: 0.1s;
    }
}

.site-name {
    color: #fff;
    cursor: pointer;
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 1px 2px 0px #5d7b6d;
    display: block;
    margin: 25px 0 0 0;
}

.site-description {
    margin: 0 0 0 3px;
    color: #ffffff;
    font-size: 15px;
    text-shadow: 1px 1px 0px #5d7b6d;

    a {
        color: #ffffff;
    }

    @include mobile {
        margin: 3px 0;
    }
}

nav {
    float: right;
    margin-top: 28px;
    font-size: 18px;
    font-family: Sans-serif;
    
    @include mobile {
        float: none;
        margin-top: 1.5em;
        display: block;
        font-size: 12px;
    }

    a {
        border:1px solid #679881;
        display: inline-block;
        margin-left: 9px;
        color: #FFF;
        width: auto;
        height: auto;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 10px 15px;
        text-shadow: 0 1px 0 #386638;

        @include mobile {
            margin: 0 10px;
            color: #FFF;
            padding: 7px 8px;
        }

    }
    a:hover {
        display: inline-block;
        border:1px solid #3c594b;
        color: #FFF;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #70a68c,inset 0 -1px 0 0 #456656,inset 0 0 0 1px #5a8570,0 2px 4px 0 rgba(0, 0, 0, 0.10);
        text-shadow: 0 1px 0 #473628;
        background-color: #C15134;    
        background-image: linear-gradient(to top, #4e7361, #537a67);
        outline: none;
        text-decoration: none;
        transition: color .25s linear, background-color .25s ease-in-out, border-color .15s ease-in-out;
        }

    a:active {
        top:2px;
        transition-duration: 1.5s;
        box-shadow: 0 0 1px transparent;
        transform: translateY(2px);
    }
}

nav .current {
    display: inline-block;
    border:1px solid #3c594b;
    color: #FFF;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #70a68c,inset 0 -1px 0 0 #456656,inset 0 0 0 1px #5a8570,0 2px 4px 0 rgba(0, 0, 0, 0.10);
    text-shadow: 0 1px 0 #473628;
    background-color: #C15134;    
    background-image: linear-gradient(to top, #4e7361, #537a67);
    outline: none;
    text-decoration: none;
    transition: color .25s linear, background-color .25s ease-in-out, border-color .15s ease-in-out;
}

//
// .main
//

.posts > .post {
    padding-bottom: 1.3em;
    border-bottom: 1px solid $lightGray;
    margin-bottom: 2em;
}

.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.post {
    blockquote {
        margin: 1em 0.5em;
        padding: 0.1em 1em;
        color: #555;
        font-style: italic;
		background: #F6F9FC;
		border: 1px solid #ECF2F5;
        border-left: 3px solid #BBCCDD;
		
    }
	h2 {
		font-size: 18px;
	}
 	h3 {
		font-size:14px;
		font-weight: bold;
	} 
    .post h1 {
        font-size: 1.7em;
        text-decoration: none;
    }
    
    .read-more {
        text-transform: normal;
        font-size: 14px;
        margin-right: 10px;
    }

	.gallery {
		display: flex;
	}
	
	.gallery img {
		margin: 0.75em 0.5em;
	}

}
 
.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    background-color: $lightGray;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05) inset;
    position:absolute;
    bottom:0;
    width: 100%;
}

footer {
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
  
    p {
        font-family: Sans-serif;
        font-size: 14px;
        margin: 10px 0px -5px 0px;
        text-shadow: 0 1px 0 #F2F2F2;
    }

	@include mobile {
		padding: 20px 0;
	}
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";

.post-meta {
    font-size: 14px;
    color: #828282;
}

.posts h1 {
    margin: 5px 0px 0px;
    text-decoration: none;
}

.post h2, .post h3 {
    margin-top: 25px;
}

.archive {
	h1, h2, h3, h4 {
		border-bottom: 1px solid #ddd;
	}
}

.tags, .tags-page, .tags-cloud {
    list-style: none;
    margin-bottom: 27px;
    overflow: hidden; 
    padding: 0px 0px 20px 0px;
}

.tags-cloud {
    padding: 0px;
}


#main .tags {
    border-bottom: solid 1px #eee;
}

.tags-page {
    border-top: solid 1px #6B1E69;
    border-color: #ccc;
    padding-top: 10px;
    margin: 2em 0 -10px 0;
}

.tags li, .tags-page li, .tags-cloud li {
    float: left; 
}

.tag {
    background: #eee;
    background-image: linear-gradient(to top, #EEE, #F2F2F2);
    border-radius: 3px 0 0 3px;
    border: 1px solid #D1D1D1;
    color: #888;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    padding: 0 12px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.20);
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag:hover {
    background-color: #B994C6;
    background-image: linear-gradient(to top, #A685B2, #B994C6);
    border: 1px solid #9678A1;
    color: #FFF;
    text-decoration: none;
}

.tag:hover::after {
    border-left-color: #2EAE9B; 
}

.tag:hover a:visited {
    color: #999;
}

.tag:visited hover {
    color: #FFF;
}

.tag:active {
        transform: translateY(2px);
    }

.tags a:hover {
    color: #FFF;
}

.archive-tags {
    color: #888;
	background: #eee;
	border-radius: 2px;
	font-size: 10px;
	word-break: keep-all;	
	padding: 1px 3px;
	margin: 0 3px;
    border: 1px solid #D1D1D1;
}

.tag-icon {
	margin: -10px -5px -2px 7px;	
}

h1.post-title {
    font-size: 24px;
}

h2.tags-title  {
    margin-top: 30px;
    border-bottom: solid 1px #6B1E69;
    border-color: #ccc;
}

.tags-title {
    font-size: 24px;
}

.tags-date {
    font-size: 14px;
    color: #828282
}

.entry tags{
    border-bottom: solid 1px #6B1E69;
    border-color: #ccc;
}

.entry img, .content img {
    border-radius: 3px;
    box-shadow: 0 2px 3px #CCC;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid #777;
    padding: 1px;
    background: #ccc;

	@include mobile {
		margin: 1.3em 0;
	}
}

.highlighter-rouge {
	border-radius: 2px;
	border: 1px solid #DDD;
	padding: 2px 3px;
	background: #EEE;
	font-size: 12px;
	margin-bottom: 10px;
	white-space: nowrap;
	line-height: 22px;
}

.highlighter-rouge {
    .highlight {
        border: 0px;
        overflow: auto;
    }
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    max-width: 820px;
    margin: 0 auto;

	@include mobile {
		padding-bottom: 1.5em;
	}
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 10px 0;

	@include mobile {
    	width: 100%;
		text-align: center;
    	margin: 7px 0;
	}
}

.PageNavigation .next {
    text-align: right;
    float: right;
	@include mobile {
		text-align: center;
	}
}

.pagination, .previous, .next {
    font-size: 14px;
}

.pagination {
    text-align: center;
    margin-top: -10px;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.page_number {
    width: 50%;
}

.related-posts {
    border-bottom: 1px solid #CCC;
    padding: 0 0 30px 0;
}

.related-posts h2 {
    margin-top: 0;
}

.related-posts li {
    font-size: 14px;
    margin: 6px 0px 0px 20px;
}

.feedback {
    padding-bottom:10px;
}

.red-note {
    border-radius: 2px;
    border: 1px solid #DBB;
    padding: 2px 4px;
    background: #FDD;
    font-size: 12px;
    margin-bottom: 10px;

    p {
        margin: 5px
    }
}

button {
    display: inline-block;
    background-color: #2B90D9;
    border:1px solid #2474ac;
    color: #fff;
    padding: 11px 18px;
    text-decoration: bold;
    text-shadow: 0 1px 0 #195783;
    font-weight: bold;
    font-size: 12px;
    margin: 0 0 10px 0;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.4s;
    box-shadow: inset 0 1px 0 0 #88c2ea,inset 0 -1px 0 0 #2474ac,inset 0 0 0 1px #5faee5,0 2px 4px 0 #D4D4D4;
    outline: none;
}

button:hover {
    text-decoration: none;
    background-image: linear-gradient(to top, rgba(255,255,255,0.25), rgba(255,255,255,0));
    &:active {
        transform: translateY(2px);
    }
}

.entry .button {
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 2.5em;
    a {
        border:1px solid #2474ac;
        font-weight: bold;
        font-size: 12px;
        color: #FFF;
        box-shadow: inset 0 1px 0 0 #88c2ea,inset 0 -1px 0 0 #2474ac,inset 0 0 0 1px #5faee5,0 2px 4px 0 #D4D4D4;
        text-shadow: 0 1px 0 #195783;
        background-color: #2B90D9;
        padding: 8px 15px;
        border-radius: 3px;
        &:hover {
            color: #fff;
            text-decoration: none;
            background-image: linear-gradient(to top, rgba(255,255,255,0.25), rgba(255,255,255,0));
        }
    }
    &:active {
        transform: translateY(2px);
    }
}

.back {
    float: right;
    margin-top: -4em;
    font-size: 12px;
    color: #888;
}

.highlight  {
    padding: 5px 5px 5px 9px;
	line-height: 1.25em;
}

.social-email, .social-mastodon, .social-rss, .social-xmpp {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    width: auto;
    height: auto;
    padding: 8px 15px;

	@include mobile {
		margin-bottom: 5px;
	}
}

.social-email {
    border:1px solid #ac4128;
    color: #FFF;
    box-shadow: inset 0 1px 0 0 #ec9682,inset 0 -1px 0 0 #ac4128,inset 0 0 0 1px #e76e52,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #7e2f1d;
    background-color: #E45635;
}

.social-mastodon {
    border:1px solid #2474ac;
    color: #FFF;
    box-shadow: inset 0 1px 0 0 #88c2ea,inset 0 -1px 0 0 #2474ac,inset 0 0 0 1px #5faee5,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #195783;
    background-color: #2B90D9;
}

.social-rss {
    border:1px solid #a46411;
    color: #FFF;
    box-shadow: inset 0 1px 0 0 #fbbf70,inset 0 -1px 0 0 #bf7616,inset 0 0 0 1px #fbaa42,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #a46411;
    background-color: #F8991D;
}

.social-xmpp {
    border:1px solid #38662a;
    color: #FFF;
    box-shadow: inset 0 1px 0 0 #88c178,inset 0 -1px 0 0 #457d34,inset 0 0 0 1px #6db359,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #38662a;
    background-color: #7E9F5B;
}

.social-email:hover, .social-mastodon:hover, .social-rss:hover, .social-xmpp:hover {
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(to top, rgba(255,255,255,0.25), rgba(255,255,255,0));

    &:active {
        transform: translateY(2px);
    }
}

table {
    border-collapse: collapse;
    width:100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #679881;
    color: white;
}

.photo {
	width: 840px;
	position: absolute;
   top: 50%;
   left: 50%;
   }
