{% if site.footer-links.email %}<a class="social-email" href="mailto:{{ site.footer-links.email }}">E-mail</a>{% endif %}
{% if site.footer-links.mastodon %}<a class="social-mastodon" href="{{ site.footer-links.mastodon }}">Mastodon</a>{% endif %}
{% if site.footer-links.xmpp %}<a class="social-xmpp" href="xmpp:{{ site.footer-links.xmpp }}?message">XMPP</a>{% endif %}
{% if site.footer-links.rss %}<a class="social-rss" href="{{ site.baseurl }}/feed.xml">RSS</a>{% endif %}

<p>Copyright &copy; {{ 'now' | date: "%Y" }} <a href="mailto:{{ site.footer-links.email }}">Hund</a> <font color="#A6A6A6">|</font> This website is powered by <a href="https://jekyllrb.com/">Jekyll</a> and hosted by <a href="https://gitlab.com">GitLab</a></p>
