<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

<div class="site-info">
    <a href="{{ site.baseurl }}/" class="site-name">Hund</a>
    <p class="site-description">{{ site.description }}</p>
</div>

<nav>
  {% include menu.html %}
</nav>
