<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}    
    </head>

    <body>
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    {% include header.html %}
                </header>
            </div>
        </div>
    
        <div id="main" role="main" class="container">
            {% for post in paginator.posts %}
                <article class="post">
            		<div class="posts">
            		    <span class="post-meta">
							{% include date.html %}
                       </span>
                        
                        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                            <div class="content">
								<p>	
									{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
									<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Continue reading &#8594;</a>
								</p>
            			        <ul class="tags">
            				        {% for tag in post.tags %}
            				        <li><a href="{{ site.baseurl }}/archive/#{{ tag }}" class="tag">{{ tag }}</a></li>
            				        {% endfor %}
            			        </ul>
                        </div>
                    </div>
                </article>
    
                {% endfor %}
    
                <div class="pagination">
                    {% if paginator.previous_page %}
                      <a href="{{ paginator.previous_page_path }}" class="previous">&#171; Previous page</a>
                    {% else %}
                      <span class="previous"></span>
                    {% endif %}
                    
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="next">Next page &#187;</a>
                    {% else %}
                        <span class="next "></span>
                    {% endif %}
                
                    <br>
                    <p><span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></p>
                </div>
            </div>
        </div>
    
        <div class="wrapper-footer">
            <div class="container">
                <footer class="footer">
                    {% include footer.html %}
                </footer>
            </div>
        </div>
    </body>
</html>
