---
layout: default
---

<div class="post-date">
	{% include date.html %}
</div>

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
        {{ content }}
    </div>

     <ul class="tags-page">
        {% for tag in page.tags %}
    	    <li><a href="{{ site.baseurl }}/archive/#{{ tag }}" class="tag">{{ tag }}</a></li>
    	{% endfor %}
    </ul>
</article> 

{% include pagenavigation.html %}
